Body{
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

.welcome{
    margin-top: 15%;
    color: #1f3361;
    font-size: 18px;
}
.logo{
    margin-top: 25%;
    margin-left: 15%;
    color: #1f3361;
}
#enter-button{
    margin-left: 25%;
    margin-top: 15%;
    background-color: #de7c88;
    color: white;
    width: 143px;
    height: 42px;
    border-radius: 20px;
}
p {
    color: cornflowerblue;
}

h1 {
    color:blue;
}

h2 {
    color:darkgreen;
}

button {
    background-color: darksalmon;
    color:dimgray;
    box-shadow: 2px 2px 5px #999;
    border-radius: 5px;
    border: none;
}
