Body{
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
  
}
/*Pagina Bienvenida*/
#welcome{
    background-image: url(./assets/lightBlue2.jpg);
    background-repeat: round;
    background-size: cover;
    height: 100vh;
}
.welcome{
    margin-top: 15%;
    color: #1f3361;
    font-size: 18px;
}
.logo-bienvenida{
    margin-top: 15%;
    margin-left: 15%;
    width: 250px;
}
#enter-button{
    margin-left: 28%;
    margin-top: 35%;
    background-color: #de7c88;
    color: white;
    width: 143px;
    height: 42px;
    border-radius: 20px;
    font-size: 18px;
}
#enter.button:focus:not(:focus-visible){
    outline: 0;
}
/*Logos para las siguientes páginas*/
.logos{
    margin: 10px auto;
    width: 100%;
    /*display: flex;
    align-items: center;*/
    justify-content: space-evenly;    
}
#oportunidad-logo{
    margin-top: 5%;
    margin-bottom: 50px;
    width: 172px;
    margin-left: 3%;
   
}
#onu-logo{ 
    width: 80px;
    margin-bottom: 35px;
    margin-left: 70px;
}

/*Página de inicio sesión*/
#inicio-sesion{
    color: #1f3361;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
}
::placeholder { 
    color: #7b8794;
    margin-left: 5%;
    text-align: left;
    border: 1px;
  
    /*opacity: 2;*/
}
#e-mail{
    border-radius: 48px;
    align-content: flex-start;
    margin-top: 10%;
    margin-left: 4%;
    height: 32px;
    width: 312px;
    font-weight: lighter;
    background: white;
}
#e-mail.button:focus:not(:focus-visible){
    outline: 0;
}
#password{
    border-radius: 48px;;
    align-content: flex-start;
    margin-top: 5%;
    margin-left: 4%;
    height: 32px;
    width: 312px;
    font-weight: lighter;
    background: white;
}
#password.button:focus:not(:focus-visible){
    outline: 0;
}
.reset-password{
    text-align: right;
    font-size: 12px;
    color: #1f3361;
    margin-left: 45%;
}
#reset-password{
    margin-top: 3%;
    text-align: right;
    margin-right: 5%;
}
#login-button{
    margin-left: 28%;
    margin-top: 15%;
    background-color: #de7c88;
    color: white;
    width: 143px;
    height: 42px;
    border-radius: 20px;
    font-size: 18px;
}
#not-account{
    color:#1f3361;
    text-align: center;
    margin-top: 10%;
    font-size: 12px;
}

/*Página de registro*/
#Registry{
    color:  #1f3361;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 0%;
}
/* ::placeholder { 
    color: #7b8794;
    margin-left: 5%;
    text-align: left;
    border: 1px;
} */

.placeholder{
    border-radius: 48px;
    align-content: flex-start;
    margin-top: 10%;
    margin-left: 4%;
    height: 30px;
    width: 312px;
    font-weight: lighter;
    background: white;
}
.input-placeholder{

    border-radius: 48%;
    margin-top: 5%;
}
#name-surname{
    align-content: space-between;
}
#text-name{
    border-radius: 48px;
    align-content: flex-start;
    margin-top: 0%;
    margin-left: 5%;
    height: 28px;
    width: 135px;
    font-weight: lighter;
    background: white;
}
#text-surname{
    border-radius: 48px;
    align-content: flex-start;
    margin-top: 0%;
    margin-left: 6%;
    height: 28px;
    width: 135px;
    font-weight: lighter;
    background: white;
}
select, option{
    color:  #1f3361;
}
#region{
    border-radius: 48px;
    align-content: flex-start;
    margin-top: 5%;
    margin-left: 5%;
    height: 35px;
    width: 310px;
    font-weight: lighter;
    background: white;
}
#city{
    border-radius: 48px;
    align-content: flex-start;
    margin-top: 5%;
    margin-left: 5%;
    height: 35px;
    width: 310px;
    font-weight: lighter;
    background: white;
}

#text-mail{
    border-radius: 48px;
    align-content: flex-start;
    margin-left: 5%;
    height: 28px;
    width: 300px;
    font-weight: lighter;
    background: white;
    text-align: center;
}
#text-password{
    border-radius: 48px;
    align-content: flex-start;
    margin-left: 5%;
    height: 28px;
    width: 300px;
    font-weight: lighter;
    background: white;
}
#text-repeat-password{
    border-radius: 48px;
    align-content: flex-start;
    margin-left: 5%;
    height: 28px;
    width: 300px;
    font-weight: lighter;
    background: white;
}
#text-city{
    border-radius: 48px;
    align-content: flex-start;
    margin-left: 1%;
    height: 28px;
    width: 300px;
    font-weight: lighter;
    background: white;
}
#conditions{
    color: black;
    font-size: 12px;
}
p {
    color: cornflowerblue;
}

h1 {
    color:blue;
}

h2 {
    color:darkgreen;
}

button {
    background-color: darksalmon;
    color:dimgray;
    box-shadow: 2px 2px 5px #999;
    border-radius: 5px;
    border: none;
}
